Repository open-component-model/ocm, pull requests merged in 2024-11, with the labels that each got.

#996 chore(ci): various optimizations for build processing, caching and concurrency
  .github/workflows/blackduck_scan_scheduled.yaml
  .github/workflows/buildcomponents.yaml
  .github/workflows/check_diff_action.yaml
  .github/workflows/codeql.yml
  .github/workflows/components.yaml
  .github/workflows/lint_and_test.yaml
  .github/workflows/publish-latest.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/release.yaml
  .github/workflows/releasenotes.yaml
  Makefile
  components/demoplugin/Makefile
  components/ecrplugin/Makefile
  components/helmdemo/Makefile
  components/helminstaller/Dockerfile
  components/helminstaller/Makefile
  components/ocmcli/Makefile
  components/subchartsdemo/Makefile
Labels: chore

#1043 chore: migrate all component builds: ca => ctf
  .github/workflows/buildcomponents.yaml
  .github/workflows/release.yaml
  Makefile
  components/demoplugin/Makefile
  components/demoplugin/component-constructor.yaml
  components/demoplugin/resources.yaml
  components/ecrplugin/Makefile
  components/ecrplugin/component-constructor.yaml
  components/ecrplugin/resources.yaml
  components/helmdemo/Makefile
  components/helmdemo/component-constructor.yaml
  components/helmdemo/references.yaml
  components/helmdemo/resources.yaml
  components/helmdemo/sources.yaml
  components/helminstaller/Makefile
  components/helminstaller/a.yaml
  components/helminstaller/component-constructor.yaml
  components/helminstaller/resources.yaml
  components/ocmcli/Makefile
  components/ocmcli/component-constructor.yaml
  components/ocmcli/sources.yaml
Labels: chore

#1028 chore: enhance the publishing to other repositories then github
  .github/workflows/publish-to-other-than-github.yaml
  .github/workflows/release.yaml
  .github/workflows/retrigger-publish-to-other.yaml
Labels: github_actions, chore :hammer:, chore

#1047 fix: set tlskyber=0
  go.mod
Labels: fix

#1045 priority for CLI registration options
  api/ocm/extensions/blobhandler/config/type.go
  api/ocm/extensions/blobhandler/registration.go
  api/ocm/extensions/download/config/type.go
  cmds/ocm/commands/ocmcmds/common/options/downloaderoption/option.go
  cmds/ocm/commands/ocmcmds/common/options/downloaderoption/option_test.go
  cmds/ocm/commands/ocmcmds/common/options/downloaderoption/suite_test.go
  cmds/ocm/commands/ocmcmds/common/options/optutils/reg_test.go
  cmds/ocm/commands/ocmcmds/common/options/optutils/registration.go
  cmds/ocm/commands/ocmcmds/common/options/uploaderoption/option.go
  cmds/ocm/commands/ocmcmds/common/options/uploaderoption/option_test.go
  cmds/ocm/commands/ocmcmds/common/options/uploaderoption/uploader_test.go
  docs/reference/ocm_add_componentversions.md
  docs/reference/ocm_configfile.md
  docs/reference/ocm_download_resources.md
  docs/reference/ocm_transfer_commontransportarchive.md
  docs/reference/ocm_transfer_componentversions.md
Labels: component/ocm-cli

#1051 chore: disable runner cache for release note drafter
  .github/workflows/release-drafter.yaml
Labels: github_actions, chore :hammer:, chore

#1044 chore: reuse aggregation from ctf during component build
  .github/workflows/components.yaml
  Makefile
  components/demoplugin/Makefile
  components/ecrplugin/Makefile
  components/ocmcli/Makefile
  components/subchartsdemo/Makefile
Labels: github_actions, chore :hammer:, chore

#1061 chore: force bump to 0.18.0-dev
  VERSION
Labels: chore

#1062 [releases/v0.17.0] chore: force revert bump to 0.17.1-dev instead of 0.18.0
  VERSION
Labels: chore

#1058 change short text for help topic
  api/oci/ref_test.go
  api/ocm/extensions/download/config/registration_test.go
  cmds/ocm/commands/verbs/install/cmd.go
  docs/reference/ocm.md
  docs/reference/ocm_install.md
  docs/reference/ocm_install_plugins.md
Labels: area/documentation, size/s, documentation

#1066 chore: change guide for 0.18.0
  examples/lib/tour/01-getting-started/README.md
Labels: chore

#1059 chore: allow publishing to Brew via custom script
  .github/config/goreleaser.yaml
  .github/workflows/publish-to-other-than-github.yaml
  .github/workflows/retrigger-publish-to-other.yaml
  hack/brew/go.mod
  hack/brew/internal/generate.go
  hack/brew/internal/generate_test.go
  hack/brew/internal/ocm_formula_template.rb.tpl
  hack/brew/internal/testdata/expected_formula.rb
  hack/brew/main.go
Labels: github_actions, chore

#1065 chore: remove ocm inception during build CTF aggregation
  .github/workflows/components.yaml
  hack/get_bare_resource_from_ctf.sh
Labels: github_actions, chore :hammer:, chore

#1071 chore: release branches as `releases/vX.Y` instead of `releases/vX.Y.Z`
  .github/workflows/release-branch.yaml
  api/version/generate/release_generate.go
Labels: github_actions, chore

#1075 fix: fixup blackduck scan job
  .github/workflows/blackduck_scan_scheduled.yaml
Labels: github_actions, fix

#1076 chore: cleanup release action
  .github/workflows/release-drafter.yaml
  .github/workflows/release-version.yaml
  .github/workflows/release.yaml
Labels: github_actions, chore :hammer:, chore

#1078 fix version info for OCI refs
  api/oci/ociutils/ref.go
  api/oci/ociutils/ref_test.go
  api/oci/ociutils/suite_test.go
  api/oci/ref.go
  api/oci/testhelper/manifests.go
  api/ocm/extensions/accessmethods/relativeociref/method_test.go
Labels: fix

#1080 [release-v0.18.0] fix: version info for OCI refs
  api/oci/ociutils/ref.go
  api/oci/ociutils/ref_test.go
  api/oci/ociutils/suite_test.go
  api/oci/ref.go
  api/oci/testhelper/manifests.go
  api/ocm/extensions/accessmethods/relativeociref/method_test.go
  docs/releasenotes/v0.18.0-rc.2.md
  examples/lib/tour/01-getting-started/README.md
Labels: fix

#1083 chore: pin version in tour guide to avoid regeneration
  examples/lib/tour/01-getting-started/README.md
  examples/lib/tour/01-getting-started/example.go
  examples/lib/tour/07-resource-management/README.md
  examples/lib/tour/07-resource-management/example.go
Labels: fix

#1081 fix: also set release notes from file when file exists
  .github/workflows/release.yaml
Labels: github_actions, fix

#1084 chore: bump version to 0.19.0-dev
  VERSION
Labels: chore

#1085 fix: correctly set prerelease flag
  .github/config/goreleaser.yaml
Labels: fix

#1079 chore: disable mandatory period comments
  .github/config/golangci.yaml
Labels: kind/impediment, chore :hammer:, chore

#1090 chore: make sure that version bumping happens everytime
  .github/workflows/release-branch.yaml
  .github/workflows/release-bump-version.yaml
  .github/workflows/release.yaml
  api/version/generate/release_generate.go
Labels: github_actions, chore

#1096 chore: directly reference integration tests as job
  .github/workflows/integration-test.yaml
Labels: do-not-merge, github_actions, chore :hammer:, chore

#1100 chore: add correct labels for flake nix job
  .github/workflows/flake_vendorhash.yaml
Labels: chore

#1104 chore: allow triggering blackduck scans manually
  .github/workflows/blackduck_scan_scheduled.yaml
Labels: chore

#1106 chore: remove the int test repository dispatch
  .github/workflows/pr_run_inttest.yaml
Labels: chore

#1103 chore: rework labeling jobs
  .github/workflows/pr-labeler-kind.yaml
  .github/workflows/pr-labeler.yaml
Labels: chore

#1109 chore: move process options to struct
  cmds/ocm/commands/ocmcmds/common/addhdlrs/rscs/elements.go
  cmds/ocm/commands/ocmcmds/components/add/testdata/component-constructor-skip.yaml
Labels: size/s, chore

#1112 chore: automatically set github actions label
  .github/config/labeler.yml
  .github/workflows/pull-request.yaml
Labels: size/xs, chore

#1111 chore: remove releasenotes.yaml
  .github/workflows/releasenotes.yaml
Labels: size/s, chore

#1114 chore: fixup labeler job config
  .github/config/labeler.yml
Labels: size/xs

#1113 docs: document complex artifact transfer
  cmds/ocm/commands/ocicmds/artifacts/transfer/cmd.go
  docs/reference/ocm_transfer_artifacts.md
Labels: area/documentation, component/documentation, size/s, documentation, chore

#1077 chore: setup release to reuse CTF from components workflow
  .github/config/goreleaser.yaml
  .github/workflows/components.yaml
  .github/workflows/release.yaml
  Makefile
  components/demoplugin/Makefile
  components/ecrplugin/Makefile
  components/helmdemo/Makefile
  components/helminstaller/Makefile
  components/helminstaller/component-constructor.yaml
  components/ocmcli/Makefile
  components/subchartsdemo/Makefile
  examples/make/Makefile
Labels: size/m, github-actions, chore

#1086 docs: revise RELEASE_PROCESS.md
  RELEASE_PROCESS.md
Labels: area/documentation, size/m, documentation, chore

#1121 chore: label prs based on conventional commit
  .github/config/labeler.yml
  .github/workflows/pull-request.yaml
Labels: size/m, github-actions, chore

#1123 docs: finally some working examples for a lot of commands
  cmds/ocm/commands/ocicmds/artifacts/describe/cmd.go
  cmds/ocm/commands/ocicmds/artifacts/get/cmd.go
  cmds/ocm/commands/ocicmds/artifacts/transfer/cmd.go
  cmds/ocm/commands/ocicmds/tags/show/cmd.go
  cmds/ocm/commands/ocmcmds/components/check/cmd.go
  cmds/ocm/commands/ocmcmds/components/get/cmd.go
  cmds/ocm/commands/ocmcmds/components/hash/cmd.go
  cmds/ocm/commands/ocmcmds/components/list/cmd.go
  cmds/ocm/commands/ocmcmds/components/sign/cmd.go
  cmds/ocm/commands/ocmcmds/components/transfer/cmd.go
  cmds/ocm/commands/ocmcmds/components/verify/cmd.go
  docs/reference/ocm_check_componentversions.md
  docs/reference/ocm_describe_artifacts.md
  docs/reference/ocm_get_artifacts.md
  docs/reference/ocm_get_componentversions.md
  docs/reference/ocm_hash_componentversions.md
  docs/reference/ocm_list_componentversions.md
  docs/reference/ocm_show_tags.md
  docs/reference/ocm_sign_componentversions.md
  docs/reference/ocm_transfer_artifacts.md
  docs/reference/ocm_transfer_componentversions.md
  docs/reference/ocm_verify_componentversions.md
Labels: size/s, chore, kind/documentation

#1120 chore: let's not store the release notes in the repository
  .github/workflows/release.yaml
  RELEASE_PROCESS.md
  docs/releasenotes/v0.1.0.md
  docs/releasenotes/v0.10.0.md
  docs/releasenotes/v0.11.0.md
  docs/releasenotes/v0.12.0.md
  docs/releasenotes/v0.13.0.md
  docs/releasenotes/v0.14.0.md
  docs/releasenotes/v0.15.0.md
  docs/releasenotes/v0.16.0.md
  docs/releasenotes/v0.2.0.md
  docs/releasenotes/v0.3.0-rc.2.md
  docs/releasenotes/v0.3.0-rc.3.md
  docs/releasenotes/v0.3.0.md
  docs/releasenotes/v0.4.0.md
  docs/releasenotes/v0.5.0.md
  docs/releasenotes/v0.6.0.md
  docs/releasenotes/v0.7.0.md
  docs/releasenotes/v0.8.0.md
  docs/releasenotes/v0.9.0.md
  hack/winget/README.md
Labels: size/l, github-actions, chore

#1124 chore: fixup release action versioning and notes process
  .github/workflows/components.yaml
  .github/workflows/release.yaml
  components/demoplugin/Makefile
  components/ecrplugin/Makefile
  components/helmdemo/Makefile
  components/helminstaller/Makefile
  components/ocmcli/Makefile
  components/subchartsdemo/Makefile
Labels: size/s, github-actions, chore

#1126 chore: publish to website as other
  .github/workflows/publish-to-other-than-github.yaml
  .github/workflows/release.yaml
  .github/workflows/retrigger-publish-to-other.yaml
Labels: size/s, github-actions, chore

#1134 chore: bump down to 0.18.1-dev instead of 0.19.0-dev because the next release here would be a patch branch
  VERSION
Labels: chore, dependencies, fix

#1136 chore(example): let's limit the listed versions
  examples/lib/tour/07-resource-management/README.md
  examples/lib/tour/07-resource-management/example.go
Labels: area/documentation, chore, size/xs

#1138 chore(documentation): How to publish `winget` packages.
  hack/winget/README.md
  hack/winget/manifests/o/Open-Component-Model/ocm-cli/0.15.0/Open-Component-Model.ocm-cli.installer.yaml
  hack/winget/manifests/o/Open-Component-Model/ocm-cli/0.15.0/Open-Component-Model.ocm-cli.locale.en-US.yaml
  hack/winget/manifests/o/Open-Component-Model/ocm-cli/0.15.0/Open-Component-Model.ocm-cli.yaml
Labels: size/s, chore

#1139 chore: rework release note handling
  .github/config/release.yml
  .github/release-drafter.yml
  .github/workflows/release-branch.yaml
  .github/workflows/release-drafter.yaml
  .github/workflows/release.yaml
Labels: size/m, github-actions, chore

#1148 chore: fixup release notes
  .github/workflows/release-drafter.yaml
  hack/collapse/auto_collapse.sh
Labels: size/s, github-actions, chore

#1115 chore: adjust labels to new configuration
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/enhancement_request.md
  .github/ISSUE_TEMPLATE/user_story.md
  .github/config/labeler.yml
  .github/config/release.yml
  .github/dependabot.yml
  .github/workflows/flake_vendorhash.yaml
  .github/workflows/pull-request.yaml
Labels: size/m, github-actions, chore

#1150 chore: inherit from .github labels
  .github/settings.yml
Labels: do-not-merge, component/github-actions, size/xs, kind/skip-release-notes, kind/chore

#1154 chore(backport): adjust labels to new configuration
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/enhancement_request.md
  .github/ISSUE_TEMPLATE/user_story.md
  .github/config/labeler.yml
  .github/config/release.yml
  .github/dependabot.yml
  .github/workflows/flake_vendorhash.yaml
  .github/workflows/pull-request.yaml
Labels: size/m, component/github-actions, kind/chore, chore, github-actions

#1087 feat: migrate to fully distroless ocm image
  Dockerfile
  components/ocmcli/Dockerfile
  components/ocmcli/Makefile
  components/ocmcli/ocm.sh
Labels: area/security, size/s, component/ocm-cli, kind/chore

#1155 chore: prioritize deps over chore
  .github/config/release.yml
Labels: component/github-actions, size/xs, kind/chore

#1157 chore: add catch all category for release
  .github/config/release.yml
Labels: component/github-actions, size/xs, kind/chore

#1159 chore: missed this occurrence of `kind/bug`
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: component/github-actions, size/xs, kind/chore

#1160 chore: make sure that dockerfiles are setup in a standard way
  .github/dependabot.yml
  Dockerfile
  components/ocmcli/Dockerfile
Labels: size/s, component/ocm-cli, component/github-actions, kind/chore

#1162 chore: changes label check to any_of
  .github/workflows/pull-request.yaml
Labels: component/github-actions, size/xs, kind/chore

#1161 chore(deps): use mergo vanity url
  api/utils/template/merge.go
  go.mod
Labels: size/xs, kind/dependency, kind/chore

#1165 chore: rework default Dockerfile
  .dockerignore
  .github/workflows/components.yaml
  Dockerfile
  Makefile
  components/helminstaller/Makefile
  components/ocmcli/Dockerfile
  components/ocmcli/Makefile
Labels: size/m, component/ocm-cli, component/github-actions, kind/chore

#1166 fix: allow cache push through PAT
  .github/workflows/components.yaml
Labels: kind/bugfix, component/github-actions, size/xs
