Repository open-component-model/ocm, pull requests merged in 2024-12, with the labels that each got.

#1176 fix: replace juju with rogpeppe go internal
  api/utils/filelock/lock.go
  go.mod
  go.sum
Labels: kind/bugfix, size/s, area/ipcei, kind/dependency

#1185 fix: correct link and add notice file
  CONTRIBUTING.md
  NOTICE
  README.md
Labels: kind/bugfix, size/s

#1187 fix: ocm transfer ignored --enforce when --overwrite is set
  cmds/ocm/commands/ocmcmds/common/options/overwriteoption/option.go
Labels: kind/bugfix, component/ocm-cli, size/xs

#1188 docs: adjust flags to options in cobra help and usage template
  api/utils/cobrautils/template.go
  cmds/cliplugin/cmds/cmd_test.go
  cmds/subcmdplugin/cmds/cmd_test.go
Labels: area/documentation, size/s, kind/chore

#1198 chore(github_action): add generate_token to push-to-website
  .github/workflows/publish-to-other-than-github.yaml
Labels: component/github-actions, size/xs, kind/skip-release-notes, kind/chore

#1196 fix: fix toi doc
  cmds/ocm/topics/toi/bootstrapping/topic.go
  docs/reference/ocm_toi-bootstrapping.md
Labels: area/documentation, kind/bugfix, component/ocm-cli, size/xs

#1202 chore: use the pull request head to run the integration tests
  .github/workflows/integration-test.yaml
Labels: size/s, component/github-actions, kind/chore

#1203 fix: deal with internal error coming from docker registry
  api/oci/extensions/repositories/ocireg/repository.go
  api/tech/oras/client.go
  api/tech/oras/delayed_reader.go
  api/tech/oras/fetcher.go
  api/tech/oras/lister.go
  api/tech/oras/pusher.go
Labels: kind/bugfix, size/m

#1209 fix: correct fetch order for manifests and blobs with hints on media type
  api/oci/extensions/repositories/ocireg/repository.go
  api/tech/oras/client.go
  api/tech/oras/fetcher.go
  api/tech/oras/manifest.go
  api/tech/oras/pusher.go
  go.mod
Labels: kind/bugfix, size/m, component/ocm-cli, kind/dependency

#1140 feat: support splitting blobs when stored as OCI layer
  api/credentials/identity/hostpath/identity.go
  api/oci/extensions/repositories/ocireg/repository.go
  api/ocm/cpi/repocpi/bridge_r.go
  api/ocm/extensions/repositories/genericocireg/accessmethod_localblob.go
  api/ocm/extensions/repositories/genericocireg/bloblimits.go
  api/ocm/extensions/repositories/genericocireg/componentversion.go
  api/ocm/extensions/repositories/genericocireg/config/type.go
  api/ocm/extensions/repositories/genericocireg/config_test.go
  api/ocm/extensions/repositories/genericocireg/repo_test.go
  api/ocm/extensions/repositories/genericocireg/repository.go
  api/ocm/extensions/repositories/genericocireg/type.go
  docs/reference/ocm_configfile.md
Labels: area/documentation, kind/feature, size/l
