Repository open-component-model/ocm, pull requests merged in 2024-04, with the labels that each got.

#710 spec normalization for OCI based OCM repository spec
  pkg/common/printer.go
  pkg/common/printer_test.go
  pkg/contexts/ocm/repositories/genericocireg/specnorm.go
  pkg/contexts/ocm/repositories/genericocireg/type.go
  pkg/contexts/ocm/repositories/ocireg/specnorm.go
  pkg/contexts/ocm/repositories/ocireg/specnorm_test.go
  pkg/contexts/ocm/repositories/ocireg/suite_test.go
  pkg/contexts/ocm/repositories/ocireg/type.go
  pkg/contexts/ocm/transfer/transfer.go
Labels: component/ocm-core

#711 readonly mode configurable for CVs
  Makefile
  cmds/ocm/app/app_test.go
  cmds/ocm/topics/common/credentials/topic.go
  components/helminstaller/Dockerfile
  docs/reference/ocm_add_componentversions_ocm-labels.md
  docs/reference/ocm_credential-handling.md
  docs/reference/ocm_logging.md
  docs/reference/ocm_ocm-labels.md
  go.mod
  go.sum
  pkg/common/accessobj/accessobject.go
  pkg/common/accessobj/accessstate.go
  pkg/common/accessobj/filesystemaccess.go
  pkg/contexts/datacontext/context.go
  pkg/contexts/datacontext/session.go
  pkg/contexts/ocm/compdesc/meta/v1/zz_generated.deepcopy.go
  pkg/contexts/ocm/compdesc/versions/ocm.software/v3alpha1/zz_generated.deepcopy.go
  pkg/contexts/ocm/compdesc/versions/v2/zz_generated.deepcopy.go
  pkg/contexts/ocm/cpi/dummy.go
  pkg/contexts/ocm/cpi/repocpi/backend.go
  pkg/contexts/ocm/cpi/repocpi/bridge_cv.go
  pkg/contexts/ocm/cpi/repocpi/bridge_r.go
  pkg/contexts/ocm/cpi/repocpi/view_cv.go
  pkg/contexts/ocm/cpi/repocpi/view_r.go
  pkg/contexts/ocm/internal/repository.go
  pkg/contexts/ocm/repositories/comparch/componentarchive.go
  pkg/contexts/ocm/repositories/comparch/repository.go
  pkg/contexts/ocm/repositories/composition/repository.go
  pkg/contexts/ocm/repositories/composition/repository_test.go
  pkg/contexts/ocm/repositories/ctf/repo_test.go
  pkg/contexts/ocm/repositories/genericocireg/component.go
  pkg/contexts/ocm/repositories/genericocireg/componentversion.go
  pkg/contexts/ocm/repositories/genericocireg/logging.go
  pkg/contexts/ocm/repositories/genericocireg/repository.go
  pkg/contexts/ocm/repositories/genericocireg/state.go
  pkg/contexts/ocm/repositories/virtual/access.go
  pkg/contexts/ocm/repositories/virtual/componentversion.go
  pkg/contexts/ocm/repositories/virtual/example/example.go
  pkg/contexts/ocm/repositories/virtual/repository.go
  pkg/errors/list.go
  pkg/logging/interface.go
  pkg/logging/logging.go
Labels: component/ocm-core

#725 align ca-cert opts + remove relation constraints for inputs
  cmds/ocm/commands/common/options/keyoption/option.go
  cmds/ocm/commands/misccmds/hash/sign/cmd.go
  cmds/ocm/commands/ocmcmds/common/addhdlrs/rscs/elements.go
  docs/reference/ocm.md
  docs/reference/ocm_add_componentversions.md
  docs/reference/ocm_sign_componentversions.md
  docs/reference/ocm_sign_hash.md
  docs/reference/ocm_verify_componentversions.md
Labels: area/ipcei

#726 fix issue with create tempfile on MS Windows
  pkg/common/accessobj/cachedblob_test.go
  pkg/contexts/datacontext/attrs/tmpcache/attr.go
  pkg/contexts/ocm/accessmethods/github/method_test.go
  pkg/contexts/ocm/accessmethods/s3/method_test.go
Labels: size/s

#740 fix: remove all personal information from tests
  pkg/env/builder/ocm_version_test.go
  pkg/toi/install/credentials_test.go
Labels: size/s

#703 Rework object finalization
  pkg/contexts/clictx/internal/context.go
  pkg/contexts/config/config/context_test.go
  pkg/contexts/config/config/dummy_test.go
  pkg/contexts/config/context_test.go
  pkg/contexts/config/cpi/interface.go
  pkg/contexts/config/internal/context.go
  pkg/contexts/config/internal/updater.go
  pkg/contexts/credentials/internal/builder_test.go
  pkg/contexts/credentials/internal/context.go
  pkg/contexts/credentials/repositories/dockerconfig/repo_test.go
  pkg/contexts/credentials/repositories/dockerconfig/repository.go
  pkg/contexts/datacontext/attrs/rootcertsattr/config.go
  pkg/contexts/datacontext/context-refcount-model.png
  pkg/contexts/datacontext/context.go
  pkg/contexts/datacontext/context_test.go
  pkg/contexts/datacontext/cpi.go
  pkg/contexts/datacontext/gc_test.go
  pkg/contexts/oci/internal/builder_test.go
  pkg/contexts/oci/internal/context.go
  pkg/contexts/ocm/attrs/signingattr/config.go
  pkg/contexts/ocm/blobhandler/handlers/generic/ocirepo/blobhandler.go
  pkg/contexts/ocm/internal/builder_test.go
  pkg/contexts/ocm/internal/context.go
  pkg/contexts/ocm/internal/resolver.go
  pkg/contexts/ocm/repositories/comparch/repository.go
  pkg/contexts/ocm/repositories/composition/repository.go
  pkg/contexts/ocm/repositories/genericocireg/repository.go
  pkg/contexts/ocm/repositories/virtual/repository.go
  pkg/finalizer/object.go
  pkg/refmgmt/finalized/doc.go
  pkg/refmgmt/finalized/finalized_test.go
  pkg/refmgmt/finalized/finalizedref.go
  pkg/refmgmt/finalized/suite_test.go
Labels: area/ipcei, component/ocm-core

#676 enable http registries as ocm repositories
  cmds/ocm/app/app.go
  cmds/ocm/app/app_test.go
  cmds/ocm/topics/oci/refs/topic.go
  cmds/ocm/topics/ocm/refs/topic.go
  components/ocmcli/Makefile
  components/ocmcli/resources.yaml
  docs/pluginreference/plugin_accessmethod_compose.md
  docs/pluginreference/plugin_descriptor.md
  docs/pluginreference/plugin_valueset_compose.md
  docs/reference/ocm.md
  docs/reference/ocm_add_routingslips.md
  docs/reference/ocm_bootstrap_configuration.md
  docs/reference/ocm_bootstrap_package.md
  docs/reference/ocm_check_componentversions.md
  docs/reference/ocm_describe_artifacts.md
  docs/reference/ocm_describe_package.md
  docs/reference/ocm_download_artifacts.md
  docs/reference/ocm_download_cli.md
  docs/reference/ocm_download_componentversions.md
  docs/reference/ocm_download_resources.md
  docs/reference/ocm_get_artifacts.md
  docs/reference/ocm_get_componentversions.md
  docs/reference/ocm_get_references.md
  docs/reference/ocm_get_resources.md
  docs/reference/ocm_get_routingslips.md
  docs/reference/ocm_get_sources.md
  docs/reference/ocm_hash_componentversions.md
  docs/reference/ocm_install_plugins.md
  docs/reference/ocm_oci-references.md
  docs/reference/ocm_ocm-references.md
  docs/reference/ocm_show_tags.md
  docs/reference/ocm_show_versions.md
  docs/reference/ocm_sign_componentversions.md
  docs/reference/ocm_transfer_artifacts.md
  docs/reference/ocm_transfer_componentversions.md
  docs/reference/ocm_verify_componentversions.md
  pkg/cobrautils/logopts/options.go
  pkg/contexts/oci/grammar/grammar.go
  pkg/contexts/oci/internal/context.go
  pkg/contexts/oci/internal/uniform.go
  pkg/contexts/oci/ref.go
  pkg/contexts/oci/ref_test.go
  pkg/contexts/oci/repositories/ctf/uniform.go
  pkg/contexts/oci/repositories/ocireg/repository.go
  pkg/contexts/oci/repositories/ocireg/uniform.go
  pkg/contexts/ocm/blobhandler/handlers/oci/ocirepo/blobhandler.go
  pkg/contexts/ocm/grammar/grammar.go
  pkg/contexts/ocm/grammar/grammar_test.go
  pkg/contexts/ocm/internal/uniform.go
  pkg/contexts/ocm/ref.go
  pkg/contexts/ocm/ref_test.go
  pkg/contexts/ocm/repositories/ctf/uniform.go
  pkg/contexts/ocm/repositories/genericocireg/uniform.go
  pkg/runtime/utils.go
Labels: size/l, area/ipcei, component/ocm-core

#747 change wording
  cmds/ocm/commands/ocmcmds/components/add/cmd.go
  docs/reference/ocm_add_componentversions.md
Labels: size/xs
