Repository open-component-model/ocm, pull requests merged in 2025-02, with the labels that each got.

#1266 chore: Gosec - enable security linting
  .github/workflows/codeql.yml
Labels: area/security, size/s, component/github-actions, kind/chore, area/cicd, area/quality

#1282 chore: resolve security findings
  api/credentials/internal/consumers.go
  api/utils/logging/roundtripper.go
  api/utils/logging/roundtripper_test.go
Labels: size/s, kind/chore

#1283 fix: use app token because of PR / branch protection
  .github/workflows/milestone.yaml
Labels: kind/bugfix, size/s, component/github-actions

#1287 chore: Change-blackduck
  .github/workflows/blackduck_scan_scheduled.yaml
Labels: size/s, component/github-actions, kind/chore

#1292 chore(docs): Update RELEASE_PROCESS.md
  RELEASE_PROCESS.md
Labels: size/xs, kind/chore

#1297 chore: raise alpine version
  Dockerfile
Labels: size/xs, kind/chore

#1299 fix: cap max length of git repository urls (#1298)
  api/ocm/extensions/accessmethods/git/method.go
  api/tech/git/identity/identity.go
  cmds/ocm/commands/ocmcmds/common/inputs/types/git/spec.go
  go.mod
  go.sum
Labels: size/s, component/ocm-cli, kind/dependency

#1301 chore: remove .bridge folder from scans
  .github/workflows/blackduck_scan_scheduled.yaml
Labels: area/ipcei, component/github-actions, size/xs, kind/chore

#1302 chore: finalize blackduck scan
  .github/workflows/blackduck_scan.yaml
Labels: area/ipcei, kind/chore

#1303 chore: add scheduled trigger to full scan
  .github/workflows/blackduck_scan.yaml
  .github/workflows/codeql.yml
Labels: area/ipcei, component/github-actions, size/xs, kind/chore

#1307 chore: Update codeql.yml
  .github/workflows/codeql.yml
Labels: area/ipcei, component/github-actions, size/xs, kind/chore

#1308 chore(refactor): replace utils.MapKeys with slices.Collect(maps.Keys(m))
  api/credentials/extensions/repositories/vault/auth.go
  api/tech/maven/access.go
  api/utils/utils.go
Labels: size/s, kind/chore

#1311 chore(nixos): fix broken nix-flake-hash update
  .github/workflows/flake_vendorhash.yaml
  flake.nix
Labels: size/s, component/github-actions, kind/skip-release-notes, kind/chore

#1325 correct workflow
  .github/workflows/blackduck_scan.yaml
Labels: size/s

#1326 correct worklfow
  .github/workflows/blackduck_scan.yaml
Labels: component/github-actions, size/xs

#1320 chore: remove gosec from codeql and correct gosec linter annotations
  .github/config/mend.config
  .github/workflows/blackduck_scan.yaml
  .github/workflows/check_diff_action.yaml
  .github/workflows/codeql.yml
  .github/workflows/lint_and_test.yaml
  .github/workflows/mend_scan.yaml
  .github/workflows/stale.yaml
  api/ocm/plugin/cache/updater.go
  api/utils/accessio/access.go
  api/utils/dirtree/context.go
  api/utils/utils.go
Labels: size/m, area/ipcei, component/github-actions, kind/chore

#1330 Update codeql.yml
  .github/workflows/codeql.yml
Labels: component/github-actions, size/xs
