Repository open-component-model/ocm, pull requests merged in 2025-01, with the labels that each got.

#869 feat: git Access, AccessMethod through BlobAccess
  api/credentials/builtin/init.go
  api/oci/cpi/support/base.go
  api/oci/internal/uniform.go
  api/ocm/elements/artifactaccess/gitaccess/options.go
  api/ocm/elements/artifactaccess/gitaccess/resource.go
  api/ocm/extensions/accessmethods/git/README.md
  api/ocm/extensions/accessmethods/git/cli.go
  api/ocm/extensions/accessmethods/git/method.go
  api/ocm/extensions/accessmethods/git/method_test.go
  api/ocm/extensions/accessmethods/git/suite_test.go
  api/ocm/extensions/accessmethods/git/testdata/repo/file_in_repo
  api/ocm/extensions/accessmethods/init.go
  api/tech/git/auth.go
  api/tech/git/fs.go
  api/tech/git/identity/identity.go
  api/tech/git/identity/identity_test.go
  api/tech/git/identity/suite_test.go
  api/tech/git/logging.go
  api/tech/git/resolver.go
  api/tech/git/resolver_test.go
  api/tech/git/suite_test.go
  api/tech/git/testdata/repo/file_in_repo
  api/utils/blobaccess/git/access.go
  api/utils/blobaccess/git/access_test.go
  api/utils/blobaccess/git/digest.go
  api/utils/blobaccess/git/options.go
  api/utils/blobaccess/git/suite_test.go
  api/utils/blobaccess/git/testdata/repo/file_in_repo
  cmds/ocm/commands/ocmcmds/common/inputs/types/git/cli.go
  cmds/ocm/commands/ocmcmds/common/inputs/types/git/input_test.go
  cmds/ocm/commands/ocmcmds/common/inputs/types/git/spec.go
  cmds/ocm/commands/ocmcmds/common/inputs/types/git/suite_test.go
  cmds/ocm/commands/ocmcmds/common/inputs/types/git/testdata/resources1.yaml
  cmds/ocm/commands/ocmcmds/common/inputs/types/git/type.go
  cmds/ocm/commands/ocmcmds/common/inputs/types/init.go
  docs/reference/ocm_add_resource-configuration.md
  docs/reference/ocm_add_resources.md
  docs/reference/ocm_add_source-configuration.md
  docs/reference/ocm_add_sources.md
  docs/reference/ocm_credential-handling.md
  docs/reference/ocm_get_credentials.md
  docs/reference/ocm_logging.md
  docs/reference/ocm_ocm-accessmethods.md
  go.mod
  go.sum
Labels: area/documentation, kind/feature, size/l, component/ocm-cli, kind/dependency

#1225 chore(platforms): publish for: linux/amd64 and linux/arm64
  .github/workflows/publish-latest.yaml
Labels: component/github-actions, size/xs, kind/chore

#1229 fix: do not handle root folder and the . folder
  api/ocm/tools/toi/drivers/docker/driver.go
Labels: kind/bugfix, size/xs

#1218 feat(normalisation): jsonNormalisation/v3 and fixes to jsonNormalisation/v1 as well as jsonNormalisation/v2
  .github/config/golangci.yaml
  .github/config/wordlist.txt
  api/ocm/compdesc/norm_test.go
  api/ocm/compdesc/normalization.go
  api/ocm/compdesc/normalizations/init.go
  api/ocm/compdesc/normalizations/jsonv1/norm.go
  api/ocm/compdesc/normalizations/jsonv2/norm.go
  api/ocm/compdesc/normalizations/jsonv3/norm.go
  api/ocm/compdesc/normalizations/legacy/legacy.go
  api/ocm/selectors/accessors/accessors.go
  cmds/ocm/commands/ocmcmds/common/options/hashoption/option.go
  cmds/ocm/commands/ocmcmds/common/options/signoption/option.go
  cmds/ocm/commands/ocmcmds/components/hash/cmd_test.go
  cmds/ocm/commands/ocmcmds/components/sign/cmd_test.go
  docs/reference/ocm_hash_componentversions.md
  docs/reference/ocm_logging.md
  docs/reference/ocm_sign_componentversions.md
Labels: area/documentation, kind/feature, size/m, component/ocm-cli, component/github-actions

#1230 feat(normalisation): jsonNormalisation/v3 and fixes to jsonNormalisation/v1 as well as jsonNormalisation/v2 (#1218)
  .github/config/golangci.yaml
  .github/config/wordlist.txt
  api/ocm/compdesc/norm_test.go
  api/ocm/compdesc/normalization.go
  api/ocm/compdesc/normalizations/init.go
  api/ocm/compdesc/normalizations/jsonv1/norm.go
  api/ocm/compdesc/normalizations/jsonv2/norm.go
  api/ocm/compdesc/normalizations/jsonv3/norm.go
  api/ocm/compdesc/normalizations/legacy/legacy.go
  api/ocm/selectors/accessors/accessors.go
  cmds/ocm/commands/ocmcmds/common/options/hashoption/option.go
  cmds/ocm/commands/ocmcmds/common/options/signoption/option.go
  cmds/ocm/commands/ocmcmds/components/hash/cmd_test.go
  cmds/ocm/commands/ocmcmds/components/sign/cmd_test.go
  docs/reference/ocm_hash_componentversions.md
  docs/reference/ocm_logging.md
  docs/reference/ocm_sign_componentversions.md
Labels: area/documentation, kind/feature, size/m, component/ocm-cli, component/github-actions

#1167 feat: jfrog plugin + helm upload handler
  .github/workflows/components.yaml
  api/ocm/extensions/blobhandler/handlers/generic/plugin/blobhandler.go
  api/ocm/extensions/blobhandler/handlers/generic/plugin/testdata/test
  api/ocm/plugin/cache/updater.go
  api/ocm/plugin/plugin.go
  api/ocm/plugin/ppi/cmds/common/const.go
  api/ocm/plugin/ppi/cmds/upload/put/cmd.go
  api/ocm/plugin/ppi/interface.go
  cmds/demoplugin/uploaders/demo.go
  cmds/jfrogplugin/config/config.go
  cmds/jfrogplugin/main.go
  cmds/jfrogplugin/main_test.go
  cmds/jfrogplugin/ppi/ppi.go
  cmds/jfrogplugin/suite_test.go
  cmds/jfrogplugin/testhelper/env.go
  cmds/jfrogplugin/uploaders/helm/convert.go
  cmds/jfrogplugin/uploaders/helm/headers.go
  cmds/jfrogplugin/uploaders/helm/helm.go
  cmds/jfrogplugin/uploaders/helm/reindex.go
  cmds/jfrogplugin/uploaders/helm/upload.go
  cmds/jfrogplugin/uploaders/helm/upload_test.go
  components/jfrogplugin/Makefile
  components/jfrogplugin/bindings.yaml
  components/jfrogplugin/component-constructor.yaml
  components/jfrogplugin/sources.yaml
  docs/pluginreference/plugin_upload_put.md
Labels: area/documentation, kind/feature, size/l, component/github-actions

#1232 chore: it's the year 2025 now!
  README.md
  REUSE.toml
  hack/chocolatey/ocm-cli.nuspec
Labels: size/xs, kind/skip-release-notes, kind/chore

#1234 chore: Copilot Secret Scanning, let's use always the same sample
  api/credentials/extensions/repositories/memory/config/type.go
  docs/reference/ocm_configfile.md
Labels: area/documentation, size/s, kind/skip-release-notes, kind/chore

#1236 fix(transfer): accidental extra identity defaulting during transfer
  api/ocm/cpi/modopts.go
  api/ocm/cpi/repocpi/view_cv.go
  api/ocm/internal/modopts.go
  api/ocm/modopts.go
  api/ocm/tools/transfer/transfer.go
  api/ocm/tools/transfer/transferhandler/standard/compat_test.go
  api/ocm/tools/transfer/transferhandler/standard/handler.go
  api/ocm/tools/transfer/transferhandler/standard/testdata/v0.18.0/artifact-index.json
  api/ocm/tools/transfer/transferhandler/standard/testdata/v0.18.0/blobs/sha256.210dda6808d47862660fdf5753d17e2b6152ff31fbd07ff947b821f717f1232a
  api/ocm/tools/transfer/transferhandler/standard/testdata/v0.18.0/blobs/sha256.916f0027a575074ce72a331777c3478d6513f786a591bd892da1a577bf2335f9
  api/ocm/tools/transfer/transferhandler/standard/testdata/v0.18.0/blobs/sha256.920ce99fb13b43ca0408caee6e61f6335ea5156d79aa98e733e1ed2393e0f649
  api/ocm/tools/transfer/transferhandler/standard/testdata/v0.18.0/blobs/sha256.958eb6b2928a569d7aaab2aa924fb236e977bfbc43309908aa9c45b154f689cd
  api/ocm/tools/transfer/transferhandler/standard/testdata/v0.18.0/blobs/sha256.a4b84597729cfa026c51a47e903f449ad7b4a9ec9897f2084b982a66fcdbfb5f
Labels: kind/bugfix, size/m

#1237 fix(transfer): accidental extra identity defaulting during transfer (#1236)
  api/ocm/cpi/modopts.go
  api/ocm/cpi/repocpi/view_cv.go
  api/ocm/internal/modopts.go
  api/ocm/modopts.go
  api/ocm/tools/transfer/transfer.go
  api/ocm/tools/transfer/transferhandler/standard/compat_test.go
  api/ocm/tools/transfer/transferhandler/standard/handler.go
  api/ocm/tools/transfer/transferhandler/standard/testdata/v0.18.0/artifact-index.json
  api/ocm/tools/transfer/transferhandler/standard/testdata/v0.18.0/blobs/sha256.210dda6808d47862660fdf5753d17e2b6152ff31fbd07ff947b821f717f1232a
  api/ocm/tools/transfer/transferhandler/standard/testdata/v0.18.0/blobs/sha256.916f0027a575074ce72a331777c3478d6513f786a591bd892da1a577bf2335f9
  api/ocm/tools/transfer/transferhandler/standard/testdata/v0.18.0/blobs/sha256.920ce99fb13b43ca0408caee6e61f6335ea5156d79aa98e733e1ed2393e0f649
  api/ocm/tools/transfer/transferhandler/standard/testdata/v0.18.0/blobs/sha256.958eb6b2928a569d7aaab2aa924fb236e977bfbc43309908aa9c45b154f689cd
  api/ocm/tools/transfer/transferhandler/standard/testdata/v0.18.0/blobs/sha256.a4b84597729cfa026c51a47e903f449ad7b4a9ec9897f2084b982a66fcdbfb5f
Labels: kind/bugfix, size/m

#1238 chore(ci): ensure body is encoded correctly and can never be recognized as secret for release
  .github/workflows/release.yaml
Labels: size/s, component/github-actions, kind/chore

#1239 chore(ci): ensure body is encoded correctly and can never be recognized as secret for release (#1238)
  .github/workflows/release.yaml
Labels: size/s, kind/chore

#1241 chore(ci): patch release note write
  .github/workflows/release.yaml
Labels: size/s, component/github-actions, kind/chore

#1252 chore(format): executed make format on EVERYTHING (incl. tests)
  api/oci/ociutils/ref_test.go
  api/ocm/extensions/accessmethods/git/method_test.go
  api/ocm/extensions/repositories/genericocireg/config_test.go
  api/ocm/tools/transfer/transferhandler/standard/compat_test.go
  api/tech/git/identity/identity_test.go
  api/tech/git/resolver_test.go
  api/utils/blobaccess/git/access_test.go
  api/utils/logging/roundtripper_test.go
  cmds/ocm/commands/ocmcmds/common/inputs/types/git/input_test.go
  cmds/ocm/commands/ocmcmds/components/add/cmd_test.go
  cmds/ocm/commands/ocmcmds/components/hash/cmd_test.go
  cmds/ocm/commands/ocmcmds/components/sign/cmd_test.go
  examples/lib/tour/07-resource-management/example.go
Labels: area/documentation, size/s, component/ocm-cli, kind/skip-release-notes, kind/chore, area/testing

#1243 fix: unable to close, unable to unref last: unable to cleanup component version, while unref last: closing component version
  api/ocm/extensions/repositories/genericocireg/componentversion.go
  api/ocm/extensions/repositories/genericocireg/componentversion_test.go
Labels: kind/bugfix, dev/second-opinion, size/s

#1253 fix: unable to close, unable to unref last: unable to cleanup compone…
  api/ocm/extensions/repositories/genericocireg/componentversion.go
  api/ocm/extensions/repositories/genericocireg/componentversion_test.go
Labels: kind/bugfix, size/s

#1259 delete issue types as move to .github repo
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enhancement_request.md
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/user_story.md
  .github/pull_request_template.md
Labels: size/s

#1263 fix(workaround): allow old norm algos to be hashed with old digest ctxts
  .github/config/golangci.yaml
  api/ocm/compdesc/meta/v1/signature.go
  api/ocm/compdesc/normalizations/jsonv1/norm.go
  api/ocm/compdesc/normalizations/jsonv2/norm.go
  api/ocm/compdesc/normalizations/legacy/legacy.go
  api/ocm/tools/signing/digestctx.go
Labels: kind/bugfix, size/s, component/github-actions

#1264 fix(workaround): allow old norm algos to be hashed with old digest ctxts
  .github/config/golangci.yaml
  api/ocm/compdesc/meta/v1/signature.go
  api/ocm/compdesc/normalizations/jsonv1/norm.go
  api/ocm/compdesc/normalizations/jsonv2/norm.go
  api/ocm/compdesc/normalizations/legacy/legacy.go
  api/ocm/tools/signing/digestctx.go
Labels: kind/bugfix, size/s, component/github-actions

#1244 fix: Add deprecation warning for CA
  api/helper/builder/ocm_comparch.go
  api/ocm/extensions/blobhandler/handlers/ocm/comparch/blobhandler.go
  api/ocm/extensions/repositories/comparch/componentarchive.go
  api/ocm/extensions/repositories/comparch/format.go
  api/ocm/extensions/repositories/comparch/repository.go
  api/ocm/extensions/repositories/comparch/type.go
  api/ocm/extensions/repositories/comparch/uniform.go
  cmds/ocm/app/app.go
  cmds/ocm/commands/ocmcmds/cmd.go
  cmds/ocm/commands/ocmcmds/common/options/fileoption/option.go
  cmds/ocm/commands/ocmcmds/common/options/repooption/option.go
  cmds/ocm/commands/ocmcmds/common/resources.go
  cmds/ocm/commands/ocmcmds/componentarchive/cmd.go
  cmds/ocm/commands/ocmcmds/componentarchive/create/cmd.go
  cmds/ocm/commands/ocmcmds/componentarchive/transfer/cmd.go
  cmds/ocm/commands/ocmcmds/components/download/cmd.go
  cmds/ocm/commands/ocmcmds/names/names.go
  cmds/ocm/commands/verbs/create/cmd.go
  cmds/ocm/commands/verbs/transfer/cmd.go
  docs/reference/ocm.md
  docs/reference/ocm_add_routingslips.md
  docs/reference/ocm_bootstrap_configuration.md
  docs/reference/ocm_bootstrap_package.md
  docs/reference/ocm_check_componentversions.md
  docs/reference/ocm_create.md
  docs/reference/ocm_create_componentarchive.md
  docs/reference/ocm_describe_package.md
  docs/reference/ocm_download_cli.md
  docs/reference/ocm_download_componentversions.md
  docs/reference/ocm_download_resources.md
  docs/reference/ocm_get_componentversions.md
  docs/reference/ocm_get_references.md
  docs/reference/ocm_get_resources.md
  docs/reference/ocm_get_routingslips.md
  docs/reference/ocm_get_sources.md
  docs/reference/ocm_hash_componentversions.md
  docs/reference/ocm_install_plugins.md
  docs/reference/ocm_list_componentversions.md
  docs/reference/ocm_ocm.md
  docs/reference/ocm_show_versions.md
  docs/reference/ocm_sign_componentversions.md
  docs/reference/ocm_transfer.md
  docs/reference/ocm_transfer_componentarchive.md
  docs/reference/ocm_transfer_componentversions.md
  docs/reference/ocm_verify_componentversions.md
  examples/make/Makefile
Labels: area/documentation, kind/bugfix, size/m, component/ocm-cli, kind/chore, kind/deprecation

#1271 chore: docs/release process
  RELEASE_PROCESS.md
Labels: size/s, area/ipcei, kind/chore
