Repository open-component-model/ocm, pull requests merged in 2025-04, with the labels that each got.

#1389 chore: change Dependabot update schedule from weekly to daily
  .github/dependabot.yml
Labels: area/ipcei, component/github-actions, size/xs, kind/dependency, kind/chore

#1398 chore: simplify secrets management in release workflow by inheriting …
  .github/workflows/release.yaml
Labels: area/ipcei, component/github-actions, kind/chore

#1397 chore: simplify secrets management in release workflow by inheriting secrets
  .github/workflows/release.yaml
Labels: area/ipcei, component/github-actions, size/xs, kind/chore

#1404 fix: retract v0.22.0 in releases/v0.23
  go.mod
Labels: size/xs, kind/dependency

#1406 fix: make sure that ref is an option in the gitHub AccessMethod
  api/ocm/elements/artifactaccess/githubaccess/resource.go
  api/ocm/extensions/accessmethods/github/README.md
  api/ocm/extensions/accessmethods/github/cli.go
  api/ocm/extensions/accessmethods/github/method.go
  api/ocm/extensions/accessmethods/github/method_test.go
  cmds/ocm/commands/ocmcmds/components/add/cmd_test.go
  docs/reference/ocm_add_resource-configuration.md
  docs/reference/ocm_add_resources.md
  docs/reference/ocm_add_source-configuration.md
  docs/reference/ocm_add_sources.md
  docs/reference/ocm_ocm-accessmethods.md
  examples/lib/tour/01-getting-started/README.md
  examples/lib/tour/02-composing-a-component-version/README.md
  examples/lib/tour/03-working-with-credentials/README.md
  examples/lib/tour/04-working-with-config/README.md
  examples/lib/tour/05-transporting-component-versions/README.md
  examples/lib/tour/06-signing-component-versions/README.md
  examples/lib/tour/07-resource-management/README.md
  examples/lib/tour/README.md
  go.mod
Labels: area/documentation, kind/bugfix, size/m, component/ocm-cli, kind/dependency

#1380 feat: add context to support cancel to tool ops
  api/config/configutils/configure.go
  api/ocm/tools/signing/handle.go
  api/ocm/tools/signing/handler_test.go
  api/ocm/tools/transfer/convenience.go
  api/ocm/tools/transfer/transfer.go
  api/ocm/tools/transfer/transferhandler/standard/handler_test.go
  api/utils/misc/context.go
Labels: area/documentation, kind/feature, size/m, kind/dependency

#1430 chore: pin `mdref` to v0.5.1
  hack/Makefile
Labels: size/xs, kind/chore

#1432 chore: update to go v1.24.2
  go.mod
Labels: kind/dependency, kind/chore
