Repository open-component-model/ocm, pull requests merged in 2025-08, with the labels that each got.

#1563 chore(deps): bump golangci-lint@v2.3.1
  .github/config/golangci.yaml
  api/ocm/plugin/cache/exec.go
  cmds/ocm/commands/controllercmds/common/fetcher.go
  go.mod
  go.sum
Labels: size/m, component/ocm-cli, component/github-actions, kind/dependency, kind/chore

#1593 chore: update Nix installer package to version 2.31.0 in flake_vendorhash workflow
  .github/workflows/flake_vendorhash.yaml
Labels: component/github-actions, size/xs, kind/chore

#1594 fix(ci): correct artifact download path in release workflow to ensure proper recognition
  .github/workflows/release.yaml
Labels: kind/bugfix, component/github-actions, size/xs
