Repository open-component-model/ocm, pull requests merged in 2025-09, with the labels that each got.

#1412 feat: configurable preference for relative access creation for uploader
  api/ocm/extensions/accessmethods/relativeociref/method.go
  api/ocm/extensions/attrs/preferrelativeattr/attr.go
  api/ocm/extensions/attrs/preferrelativeattr/attr_test.go
  api/ocm/extensions/attrs/preferrelativeattr/suite_test.go
  api/ocm/extensions/blobhandler/handlers/oci/ocirepo/blobhandler.go
  api/ocm/extensions/blobhandler/handlers/oci/ocirepo/config/option.go
  api/ocm/extensions/blobhandler/handlers/oci/ocirepo/config/suite_test.go
  api/ocm/extensions/blobhandler/handlers/oci/ocirepo/config/type.go
  api/ocm/extensions/blobhandler/handlers/oci/ocirepo/config/type_test.go
  api/ocm/extensions/blobhandler/handlers/oci/ocirepo/handler_test.go
  docs/reference/ocm.md
  docs/reference/ocm_attributes.md
  docs/reference/ocm_configfile.md
Labels: area/documentation, kind/feature, size/l

#1610 chore: bump VERSION to 0.29.1-dev
  VERSION
Labels: size/xs, kind/chore

#1501 fix!: unwrap standard transfer handler and fix spiff handler
  api/ocm/tools/transfer/transferhandler/spiff/handler.go
  api/ocm/tools/transfer/transferhandler/spiff/handler_test.go
  cmds/ocm/commands/ocmcmds/components/transfer/cmd.go
Labels: kind/bugfix, lifecycle/stale, size/s, size/m, component/ocm-cli, !BREAKING-CHANGE!

#1617 fix!: unwrap standard transfer handler and fix spiff handler (#1501)
  api/ocm/tools/transfer/transferhandler/spiff/handler.go
  api/ocm/tools/transfer/transferhandler/spiff/handler_test.go
  cmds/ocm/commands/ocmcmds/components/transfer/cmd.go
Labels: kind/bugfix, size/m, component/ocm-cli, !BREAKING-CHANGE!
